body {
    background-color: #ddb892;
    text-align: center;
    
}

p {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-direction: row;
    
}

button {
    border-radius:  30px  30px  30px  30px;
    padding:30px 30px 30px 30px ;
    background-color: #9c6644;
}

